<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="tests">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.AnnotationTransformer"/>
    </listeners>

    <test name="WebformTestWithChrome" enabled="true">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="formy.WebformTests">
            </class>
        </classes>
    </test>

    <test name="WebformTestWithFirefox" enabled="false">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="formy.WebformTests">
            </class>
        </classes>
    </test>

    <test name="MultiplePageTestWithChrome" enabled="false">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="theInternet.MultiplePageTests">
            </class>
        </classes>
    </test>

    <test name="MultiplePageTestWithFirefox" enabled="false">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="theInternet.MultiplePageTests">
            </class>
        </classes>
    </test>

</suite>